body {
  margin: 0;
  padding: 0;
}

details {
  display: block;
  margin-top: 1em;
}

summary {
  font-size: 16px;
}

/**
 * Patch for code blocks in markdown
 */
.mdx-code code>span {
  background-color: transparent !important;
}

@property --scroll-background {
  syntax: '<color>';
  inherits: true;
  initial-value: transparent;
}

#assistant>ul {
  transition: --scroll-background 0.5s;
}

#assistant>ul:hover {
  --scroll-background: rgba(0, 0, 0, 0.12);
}

#assistant>ul::-webkit-scrollbar {
  width: 6px;
}

#assistant>ul::-webkit-scrollbar-track {
  background-color: transparent;
}

#assistant>ul::-webkit-scrollbar-thumb {
  background-color: var(--scroll-background);
  border-radius: 1rem;
}